.legend {
    margin-top: 20px;
    text-align: left;
    width: 1000px;
  }
  
  .legend h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
display: flex;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
flex-direction: column;
  }
  
.legend h2::after{
  width: 40px;
  height: 5px;
  background-color:  rgb(3, 3, 198);
  content: "";
  margin-top: 5px;
}

  .legend ul {
    list-style: none;
    padding: 0;
  }
  
  .legend li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .legend li span {
    margin-left: 8px;
  }
  
  .legend li img {
    width: 24px;
    height: 24px;
  }
  